body {
    background-color: hsl(210, 36%, 96%);;
}
h1 , h6{
    color: hsl(209, 61%, 16%);
    text-align: center;
}

.bg-dark {
    background-color: #5f788a !important;
    color: #fff;
}
.button {
    display: flex;
    align-items: center;
}
.nav-item {
    font-size: 1rem
}
.nav-item:hover {
   font-weight: bold 
}
.card-body-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #5f788a;; */
    max-width: 650px;
}
.container-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
p {
    font-size: 1.3rem;
    font-family: sans-serif;
}
.media {
    display: flex;
    align-items: center;
}
.image {
    height: 75px;
  width: 75px;
  position: relative;
  top: -20px;
  left: -20px;
}
a:hover{
    text-decoration: none;
    color: brown;
}
.username {
    position: relative;
    top: -85px;
    left: 10px;
}
.profile-image {
    height: 85px;
    width: 85px;  
}
.footer {
    text-align: center;
    padding: 10px;
}
.footer-dark {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
legend {
    margin-top: 1rem;
}