{% extends 'base.html' %}
{% block title %} About us {% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="about-us">
            <img src="{{url_for('static', filename='images/about.png')}}" alt="" class="image-img m-5">
            <li>
                <h1>ABOUT US</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio fuga rerum dolore dolores autem animi nostrum, suscipit repellendus, ab repellat illum doloribus at mollitia, sit omnis nulla! Eligendi, odit tempora.<br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi rem ratione facere nostrum minus aliquam. Culpa, praesentium temporibus. Doloremque quasi repellendus alias repellat reprehenderit, ipsa numquam veritatis ut odio nulla.
            </li>
        </div>
    </div>
</div>

{% endblock %}