{% extends 'base.html' %}
{% block content %}

<div class="conten-section-1 mt-3"  style="max-width: 600px;margin:auto">
    <div class="media">
        <div class="media-img">
            <img class="rounded-circle account-img m-1 profile-image" src="{{url_for('static', filename='images/default.png') }}" alt="profile Picture">
        </div>
        <div class="media-body">
            <h2 class="account-heading">{{ current_user.username | capitalize }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
    <form action="" method="POST" class="needs-validation" novalidate>
        {{form.hidden_tag()}}
        <legend class="border-bottom mb-4 text-center">Account Details</legend>
        <div class="form-group">
            {{form.username.label}}
            {% if form.username.errors %}
            {{form.username(class="form-control form-control-md is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.username.errors%}
                        <span>{{ error }}</span>
                    {% endfor%}
                </div>
            {% else %}
            {{form.username(class="form-control form-control-md")}}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.image_picture.label(class =" form-control-label") }}<br>
            {{form.image_picture(class="form-control-file")}}
            {% if form.image_picture.errors %}
                {% for error in form.image_picture.errors %}
                     <p class="text-danger">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group button">
            {{form.submit(class="btn btn-primary mt-2")}}
        </div>
    </form>
</div>
{% endblock %}