{% extends 'base.html' %}
{% block content %}
<h1>Pitches</h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi tempore quas, aut fugit atque accusamus porro architecto nisi nobis? Maxime suscipit inventore debitis itaque nihil eligendi, quia fugit voluptates labore?
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque quibusdam eveniet enim veritatis incidunt, sit, nobis quidem, velit ipsum quas illum aut laboriosam reiciendis recusandae. Assumenda quos ipsam numquam adipisci?
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque sit cumque ab, nesciunt architecto sequi consectetur incidunt, quidem placeat porro sint rem, repudiandae optio officiis. Voluptas accusantium expedita qui doloribus.
{% endblock %}